/n1mmlistener/n1mmlistener.db
/DapperExtensionsDNC/bin
/DapperExtensionsDNC/obj
/n1mmlistener/obj
/n1mmlistener/bin
/n1mmsender/obj
/n1mmsender/bin
/packages
/pub
/.vs/n1mmlistener/v15/.suo
/.vs/n1mmlistener/v15/Server/sqlite3/db.lock
/.vs/n1mmlistener/v15/Server/sqlite3/storage.ide
/.vs/n1mmlistener/v15/Server/sqlite3/storage.ide-shm
/.vs/n1mmlistener/v15/Server/sqlite3/storage.ide-wal
/n1mmlistener/n1mmlistener.csproj.user
/n1mmlistener/datagrams
/n1mmlistener/n1mmlistener.log
/.vs
/n1mmsender/n1mmemu.csproj.user
/leaderboard-web/obj
/leaderboard-web/bin
/leaderboard-web/datagrams
/leaderboard-web/n1mmlistener.db
/leaderboard-web/n1mmlistener.log
/bin
/leaderboard-web/Properties/PublishProfiles/FolderProfile.pubxml.user
/leaderboard-web/leaderboard-web.csproj.user
/n1mm-udp-listener/obj
/n1mm-udp-listener/bin
/n1mm-leaderboard-shared/obj
/n1mm-leaderboard-shared/bin
