@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12">
        <table id="leaderboard" class="table embiggen">
            <thead>
                <tr>
                    <th scope="col">Op</th>
                    <th scope="col" id="measureTitle"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="javascript:;" id="byTotalQso">By total QSOs</a> |
        <a href="javascript:;" id="byMult1">By mult 1</a>
    </div>
</div>

<script type="text/javascript">
    var totalqsosTitle = "QSOs";
    var mult1Title = "State-band mults";

    var measure;

    $(document).ready(function () {
        function refreshTable() {
              
            $.getJSON("api/leaderboard/" + measure, function (data) {
                var node = $("#leaderboard > tbody");
                node.find("tr").remove();
                jQuery.each(data, function (i, val) {
                    var node = $("#leaderboard > tbody");

                    var h = "<tr><td>" + val.operator + "</td><td>" + val.count + "</td></tr>";

                    node.append(h);
                });
            });
        }

        // initial view
        measure = "TotalQsos";
        $('#measureTitle').html(totalqsosTitle);

        setInterval(refreshTable, 1000);
        refreshTable();
        
        $('#byTotalQso').on('click', function () { 
            measure = "TotalQsos";
            $('#measureTitle').html(totalqsosTitle);
            refreshTable();
        });

        $('#byMult1').on('click', function () {
            measure = "TotalIsMult1Contacts";
            $('#measureTitle').html(mult1Title);
            refreshTable();
        });

        /*number of qsos per op
            number of qsos per band per op
            number of ismultiplier1 per op

            gridsquares per op
            states per op*/
    });
</script>